.animated-rocket--container {
  position: relative;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: transform 120ms ease-in-out;
    &.events {
      pointer-events: all;
    }
    &.rocket {
      transition: transform 120ms cubic-bezier(0.17, 0.32, 0.85, 0);
    }
    &:nth-child(1) {
      position: relative;
    }
  }
  svg.rocket-background {
    path {
      d: path(
        'm142.41 216.1c14.996-41.043 38.397-78.501 68.706-109.98 25.714-26.695 65.734-25.585 65.734-25.585l0.229-0.2837c9.632-11.878 22.557-20.646 37.154-25.206 14.596-4.5598 30.214-4.7076 44.895-0.4248 3.815 1.095 6.75 1.5803 8.146 1.0926 25.449-8.9068 24.254-29.01 46.21-45.205 38.445-28.357 165.96 4.1253 183.94 56.305 14.574 42.291 79.627 62.789 103.93 95.138 3.8 5.058 7.529 10.175 11.186 15.35 1.714 2.405 3.41 4.827 5.086 7.268 17.219 24.936 32.667 51.05 46.229 78.15 8.893 17.706 16.622 35.972 23.138 54.684 25.346 74.096 16.679 129.3-53.209 115.66-8.273-1.618-16.347-3.067-24.222-4.344-11.405-1.862-22.411-3.391-33.02-4.589-14.286-1.624-27.877-2.689-40.773-3.193-4.337-0.175-8.593-0.292-12.771-0.351-61.763-0.856-107.58 10.768-142.48 28.813-5.916 3.051-11.523 6.279-16.82 9.684-8.09 5.171-15.815 10.894-23.12 17.126-10.109 8.675-19.43 18.226-27.856 28.543l-0.463 0.567c-40.822 49.933-54.257 105.21-82.653 114.94-121.39 41.613-198.16-109.24-206.03-256.8-0.397-7.436-0.617-14.85-0.659-22.243-0.024-3.305-8e-3 -6.601 0.049-9.888 0.125-8.576 0.503-17.096 1.136-25.513 0.236-3.219 0.51-6.42 0.822-9.604 0.344-3.434 0.718-6.847 1.151-10.239 3.088-24.864 8.49-48.519 16.328-69.883z'
      );
      transition: all 2s;
    }
    &.hover path {
      d: path(
        'm122.5 197.43c1.574-4.308 3.575-8.924 5.895-13.735 32.904-68.22 98.056-113.7 165.93-147.32 63.984-28.712 136.22-33.223 203.28-12.696l18.691 5.7213c40.468 12.387 78.556 31.867 110.44 59.692 21.222 18.518 43.677 39.494 54.717 54.188 3.801 5.058 7.53 10.175 11.186 15.351 1.715 2.404 3.411 4.826 5.087 7.267 17.219 24.936 32.667 51.051 46.229 78.15 8.893 17.706 16.622 35.973 23.138 54.684 12.909 37.738 0.198 95.815-15.384 143.72-18.02 55.406-58.852 99.336-108.17 130.36-43.334 27.257-92.749 43.347-143.82 46.831l-33.37 2.276c-8.89 0.606-17.715 1.492-26.581 2.373-4.71 0.468-10.501 0.997-17.087 1.503-77.1 5.926-155.04-15.868-213.38-66.623-56.764-49.384-100.46-117.85-105.62-214.38-0.398-7.436-0.617-14.851-0.659-22.244-0.024-3.305-8e-3 -6.601 0.049-9.888 0.124-8.575 0.503-17.096 1.136-25.513 0.236-3.218 0.51-6.42 0.822-9.604 0.344-3.434 0.718-6.847 1.151-10.239 3.088-24.863 8.49-48.519 16.328-69.883z'
      );
      transition: all 2s;
    }
  }
  stop {
    -webkit-transition: 0.4s ease;
    transition: 4s ease;
  }
}
